<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="My Test Suite" parallel="tests" thread-count="1">

    <!-- Test 1: Authentication Tests -->
    <test name="Authentication Tests">
        <classes>
            <class name="com.companyname.tests.BasicTest"/>
            <class name="com.companyname.tests.JavaPractices"/>

        </classes>
    </test>

    <!-- Test 2: Functional Tests
    <test name="Functional Tests">
        <classes>
            <class name="tests.SearchTest"/>
            <class name="tests.CartTest"/>
            <class name="tests.CheckoutTest"/>
        </classes>
    </test>
-->
    <!-- Test 3: Smoke Tests (Grouping)
    <test name="Smoke Tests">
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
        <classes>
            <class name="tests.HomeTest"/>
            <class name="tests.ProfileTest"/>
        </classes>
    </test>
    -->

</suite>
